<!-- template -->
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Petter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <div class="swiper-container swiper-container-v">
    <div class="swiper-wrapper">
      <!-- Welcome Screen -->
      <div id="welcome" class="swiper-slide">
        <div id="welcome-content">
          <img id="welcome-logo" src="static/img/petter_logo.svg" alt="Petter">
          <div id="welcome-text">
            <h1>petter</h1>
            <p>Find your furry companion.</p>
            <i id="welcome-desc" class="desc">Swipe or Click</i>
            <div id="swipe-start" class="swiper-button-next swiper-button-white"></div>
          </div>
        </div>
      </div>
      <!-- End of Welcome -->

      <!-- App -->
      <div id="app-container" class="swiper-slide">

        <!-- Start Options -->
        <div id="start-menu" class="default-containers">
          <img class="app-logo" src="static/img/petter_logo2.svg" alt="Petter">
          <div class="button-group">
            <h2>Choose an option below.</h2>
            <br>
            <button class="start-buttons" id="start-about">ABOUT PETTER</button>
            <button class="start-buttons" id="start-why">WHY ADOPT?</button>
            <button class="start-buttons" id="start-app">START SEARCHING</button>
          </div>
          <div id="github">
            <p>Created by Tho Tran.</p>
            <a href="https://github.com/cinnar12/petter" target="_blank"><img src="static/img/github_logo.svg" alt="GitHub"></a>
          </div>
        </div>
        <!-- End of Start Options -->

        <!-- About Petter -->
        <div id="about-petter" class="default-containers">
          <button id="about-back" class="back-button">◀</button>
          <img class="app-logo" src="static/img/petter_logo2.svg" alt="Petter">

          <div class="swiper-container swiper-container-scroll">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <h2>About Petter</h2>
                <p>Petter is a pet browsing app dedicated to helping you find the perfect companion. The app allows you to look through dogs and cats available for adoption in the Gainesville area and features adoptable pets from Gainesville Pet Rescue, Helping Hands Pet Rescue, Alachua County Humane Society. However, there are many more animals looking for their furever home. Below is a map of rescues and shelters where you can find other adoptable animals in the area.</p>
                <div id="mapid"></div>
              </div>
            </div>
            <!-- <div class="swiper-scrollbar"></div> -->
          </div>

        </div>
        <!-- End of About Petter -->

        <!-- Why Adopt -->
        <div id="why-adopt" class="default-containers">
          <button id="why-back" class="back-button">◀</button>
          <img class="app-logo" src="static/img/petter_logo2.svg" alt="Petter">
          <h2>Why Should You Adopt?</h2>
          <p>There are many reasons why you should adopt a dog or cat. Here are a few:</p>
          <ol>
            <li><b>You can save a life!</b> Millions of healthy, adoptable animals are euthanized every year. If you adopt, you can make room for other animals to come in.</li>
            <li><b>It'll cost you less.</b> Adopting a dog or cat can be a lot cheaper than purchasing through breeders and pet stores, and other upfront costs are sometimes already included in the adoption fee.</li>
            <li><b>And most importantly, you'll get a great pet!</b> You can bring home a perfectly healthy dog or cat whose age and experience can match your needs.</li>
          </ol>
        </div>
        <!-- End of Why Adopt -->

        <!-- Interest Filter Form -->
        <div id="interest-form" class="default-containers">
          <button id="int-back" class="back-button">◀</button>
          <img class="app-logo" src="static/img/petter_logo2.svg" alt="Petter">
          <form>
            <h2>What are you interested in?</h2>
            <i class="desc">Required: Select one.</i>

            <div class="interest-selections">
              <input type="radio" name="animal" value="dogs" id="dogs" required>
              <input type="radio" name="animal" value="cats" id="cats" required>
              <label for="dogs">DOGS</label>
              <label for="cats">CATS</label>
            </div>

            <h2>Select age range.</h2>
            <i class="desc">Required: Select as many as needed.</i>

            <div class="interest-selections">
              <input type="checkbox" name="age" value="baby" id="baby" required>
              <input type="checkbox" name="age" value="adult" id="adult" required>
              <input type="checkbox" name="age" value="senior" id="senior" required>
              <label class="interest-buttons" for="baby"> &lt; 1YR</label>
              <label class="interest-buttons" for="adult">1-5 YRS</label>
              <label class="interest-buttons" for="senior">5+ YRS</label>
            </div>

            <input id="interest-submit" class="submit-button" type="submit" value="SUBMIT">
          </form>
        </div>
        <!-- End of Interest Filter Form -->

        <!-- App Main Page -->
        <div id="app-main" class="default-containers">
          <nav class="navbar">
            <button class="nav-buttons" id="back">◀</button>
            <img class="nav-buttons" id="browse" src="static/img/petter_logo3.svg" alt="Browse Petter">
            <img class="nav-buttons" id="list" src="static/img/list.svg" alt="List">
          </nav>

          <div id="pet-browser">

            <span id="like-added" class="notification"> Added to your list!</span>

            {% block content %}
            {% endblock %}

          </div>

          <div class="actions">
            <img class="action-buttons" id="reject" src="static/img/reject.svg" alt="Reject">
            <img class="action-buttons" id="woops" src="static/img/woops.svg" alt="Go Back">
            <img class="action-buttons" id="like" src="static/img/like.svg" alt="Like">
          </div>

          <div id="list-page">

            <span id="email-sent" class="notification"> Sent to your email!</span>

            <div class="list-item">
              <h3>Animal's Name</h3>
              <p>This is an example of a URL.<p>
            </div>
            <div class="list-item">
              <h3>Animal's Name</h3>
              <p>This is an example of a URL.<p>
            </div>
            <div class="list-item">
              <h3>Animal's Name</h3>
              <p>This is an example of a URL.<p>
            </div>

            <form>
              <input type="text" class="email-option" id="email" name="email" placeholder="Your Email" required>
              <input id="email-submit" class="submit-button" type="submit" value="EMAIL LINKS">
            </form>

          </div>

        </div>
        <!-- End of App Main Page -->

      </div>
      <!-- End of App-->

    </div>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/shelters.json') }}"></script>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
